{% extends 'base.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}
<h2>Список задач</h2>

<form method="get" action="" class="mb-3 d-flex gap-2">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>

{% for task in tasks %}
<div class="card" style="margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text"><strong>Категория:</strong> {{ task.category.name }}</p>
    <a href="{% url 'tasks:task_detail' task.id %}" class="btn btn-primary">Подробнее</a>
  </div>
</div>
{% empty %}
<p>Задач нет</p>
{% endfor %}

{% if is_paginated %}
<div class="d-flex justify-content-center mt-4 mb-4">
    {% for page_num in paginator.page_range %}
        <a href="?page={{ page_num }}" class="btn btn-primary mx-1">{{ page_num }}</a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
